body{
    font-family: 'Poppins', sans-serif;
}
@keyframes fadeIn {
   0%{
     font-size: 10px;
     opacity: 0;
   }
   50%{
     font-size: 15px;
     opacity: 0.3;
   }
   100%{
     opacity: 0.6;
   }
  }

.mainContainer h1,h6,h3,h4,button{
    animation: fadeIn 3s ease-in-out;
}